.test {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding: 50px 0px;

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 16px;
  &[type="submit"] {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  height: 100vh;
  display: flex;
  justify-content: center;
}